@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');



textarea {

        width:40%;
        display: block;
        margin: 2rem;
        height: 5vh;
        padding: 3rem;  
        font-size: 30px;
        color:red;
        font-family: 'Nerko One', cursive;
        background-color: #FCD34D;
        text-align: center;
                
    }

#output {
    border: 1px solid black;
    height: 6vh;
    width: 40%;
    margin: 2rem;
    padding: 3rem;
    font-family: 'Nerko One', cursive;
    text-align: center;
    background-color: #FCD34D;
}

.out {
    font-size: 39px;
    /* text-align: ; */
    margin-top: 25px;
    font-family: 'Nerko One', cursive;
    margin-left: 17%;
    


}

.heading1 {
    /* text-align: center; */
    font-family: 'Nerko One', cursive;
    font-size: 50px;
    margin-left: 17%;

}

.butto {
    margin: 0;
    /* position: relative; */
    top: 50%;
    left: 41%;
    font-size: 25px;
    border-radius: 8px;
    border: 2px solid red;
    margin-left: 23%;
}


.butto:hover {
    color:tomato;
}

.abt {
    /* text-align: center; */
    font-family: 'Nerko One', cursive;
    width: 30%;
    height: 5vh;
    margin-left: 19%;
    font-size:30px
}

#about{
    border: 1px solid black;
    height: 10vh;
    width: 43%;
    margin: 0.5rem;
    font-family: 'Nerko One', cursive;
    padding: 2rem;
    font-size: 20px;
    
    background-color: #FCD34D;
    
}

body {
    background-image: url("https://wallpapercave.com/wp/wp2885699.jpg");
    background-repeat: no-repeat;
    background-position: right;
    height:800px;
    width: fit-content;

}